@model PizzaStoreAppFront.Client.Models.OrderViewModel

@{
    ViewBag.Title = "Order Pizza";
}

<div class="row">
    <div class="col-md-9">
        @using (Html.BeginRouteForm("AddPizzaToCurrentOrder", new { personId = Model.CustomerId })) {
            <div class="row">
                <div class="col-md-12">
                    <h2>Pizza Base</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <p>
                        @Html.Label("size", "Size")
                        @Html.DropDownList("size", Model.Ingredients.Sizes, new { @class = "form-control", data_ng_model = "size" })
                    </p>

                    <p>
                        @Html.Label("cheese", "Cheese")
                        @Html.DropDownList("cheese", Model.Ingredients.Cheeses, new { @class = "form-control", data_ng_model = "cheese" })
                    </p>
                </div>

                <div class="col-md-6">
                    <p>
                        @Html.Label("crust", "Crust")
                        @Html.DropDownList("crust", Model.Ingredients.Crusts, new { @class = "form-control", data_ng_model = "crust" })
                    </p>

                    <p>
                        @Html.Label("sauce", "Sauce")
                        @Html.DropDownList("sauce", Model.Ingredients.Sauces, new { @class = "form-control", data_ng_model = "sauce" })
                    </p>
                </div>
            </div>
            
            <h2>Pizza Toppings</h2>

            <div class="row">
                <div class="col-md-12">
                    @Html.CheckboxColumns(Model.Ingredients.Toppings, 3)
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success">Add Pizza</button>
                </div>
            </div>
        }
    </div>

    <div class="col-md-3">
        @Html.Partial("~/Views/Partials/PizzaOrderDetails.cshtml", Model)

        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginRouteForm("SubmitOrder", new { personId = Model.CustomerId })) {
                    <input type="hidden" name="customerId" value="@Model.CustomerId" />
                    <input type="hidden" name="storeId" value="@Model.StoreId" />
                    <input type="hidden" name="subTotal" value="@Model.OrderDetails.SubTotal" />
                    <input type="hidden" name="taxTotal" value="@Model.OrderDetails.TaxTotal" />
                    <input type="hidden" name="total" value="@Model.OrderDetails.Total" />

                    for (int p = 0; p < Model.OrderDetails.Pizzas.Count(); p++) {
                        <input type="hidden" name="pizzas[@p].Size.SizeId" value="@Model.OrderDetails.Pizzas[p].Size.SizeId" />
                        <input type="hidden" name="pizzas[@p].Price" value="@Model.OrderDetails.Pizzas[p].Price" />

                        for (int i = 0; i < Model.OrderDetails.Pizzas[p].Ingredients.Count(); i++) {
                            <input type="hidden" name="pizzas[@p].Ingredients[@i].IngredientId" value="@Model.OrderDetails.Pizzas[p].Ingredients[i].IngredientId" />
                        }
                    }

                    <button type="submit" class="btn btn-success pull-left">Order Pizzas</button>
                }

                @using (Html.BeginRouteForm("ClearOrder", new { personId = Model.CustomerId })) {
                    <button type="submit" class="btn btn-danger pull-right">Clear Order</button>
                }
            </div>
        </div>
    </div>
</div>
