@model PizzaStoreAppFront.Client.Models.OrderDetailsViewModel

<div class="row">
    <div class="col-md-12">
        <h2>Order Details</h2>

        @if (Model.Pizzas.Count == 0) {
            <i>No pizzas in this Order.</i>
        }

        @foreach (var pizza in Model.Pizzas) {
            <p>
                <b>@pizza.Name</b> <span class="pull-right">@pizza.Price.ToString("C")</span> 
            </p>

            <ul>
                @foreach (var ingredient in pizza.Ingredients) {
                    <li>@ingredient.Name</li>
                }
            </ul>
        }

        <hr />

        <p>
            <b>Sub Total:</b> <span class="pull-right">@Model.SubTotal.ToString("C")</span>
        </p>

        <p>
            <b>Tax Total:</b> <span class="pull-right">@Model.TaxTotal.ToString("C")</span>
        </p>

        <hr />

        <p>
            <b>Total Price:</b> <span class="pull-right">@Model.Total.ToString("C")</span>
        </p>
    </div>
</div>